@import '~bootstrap/scss/bootstrap';

main > .container-fluid {
  padding: 0;
  width: 100vw;
}

.cell {
  border: 2px solid rgba(148, 198, 247, .5);
  height: 150px;
  width: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 462px;
  justify-content: center;
  padding: 1px;
  width: 462px;
}
