@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: castaway;
  src: url('../fonts/castaway.otf');
}

@font-face {
  font-family: spaceage;
  src: url('../fonts/spaceage.ttf')
}

$basecolor: #191f26;
$jumbocolor: rgba(119, 140, 212, .5);

main > .container-fluid {
  padding: 0;
  width: 100vw;
}

.about {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.about-container {
  background-image: url('./xandz.jpeg');
  display: flex;
  justify-content: center;
}

.about-screen {
  margin: 50px;
}

.auth-buttons {
  font-family: spaceage;
}

.auth-row {
  background-attachment: scroll;
  background-image: url('./xandz.jpeg');
  background-size: cover;
  background-position: top;
  display: flex;
  height: 450px;
  justify-content: center;
}

.auth-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
}

.auth-text {
  color: #ffffff;
  font-weight: 400;
}

.cell {
  align-items: center;
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  font-family: castaway;
  font-size: 50px;
  height: 150px;
  justify-content: center;
  width: 150px;
}

.cell-0 {
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-1 {
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-2 {
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-3 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-4 {
  border: 2px solid rgba(255, 255, 255, .5);
}

.cell-5 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-6 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

.cell-7 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-8 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.game-background {
  align-items: center;
  background-image: url('./megamanvszero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.game-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 446px;
  justify-content: center;
  margin: 150px;
  width: 462px;
}

.game-buttons {
  align-items: center;
  background-image: url('./Bluelagoo.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 3px;
  padding: 2px;
}

.game-container {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  justify-content: center;
}

.game-header-row {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-history {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-index-footer {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  justify-content: center;
}

.game-index-options {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100px;
}

.game-modal {
  background-color: $basecolor;
  color: #ffffff;
}

.game-over {
  background-image: url('./Bluelagoo.jpg');
  background-position: center;
  background-size: cover;
}

.game-over-options {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 50px;
  padding: 2px;
}


.home-buttons {
  font-family: spaceage;
  margin: 2px;
}

.home-options-row {
  background-attachment: scroll;
  background-image: url('./xandz.jpeg');
  background-size: cover;
  background-position: top;
  display: flex;
  height: 450px;
  justify-content: center;
}

.home-options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.home-options-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 50px;
}

.home-welcome-content {
  align-items: center;
  border: 2px solid #fafbff;
  color: #fafbff;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: center;
  margin: 50px;
}

.home-welcome-row {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.jumbotron {
  background-color: $jumbocolor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loading-row {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  justify-content: center;
}

.modal-buttons {
  background-image: url('./Bluelagoo.jpg');
  background-position: center;
  background-size: cover;
}

.navbar {
  background-image: url('./Bluelagoo.jpg');
  background-position: center;
  background-size: cover;
  font-family: spaceage;
}

.show-game-board {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  justify-content: center;
}

.show-games-container {
  align-items: center;
  background-color: $basecolor;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.show-games-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.space-title {
  color: #ffffff;
  font-family: spaceage;
}

.sign-up-screen {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
  justify-content: center;
  margin: auto;
}

.x-and-zero {
  align-items: center;
  background-image: url('./xandzero.gif');
  background-position: center;
  background-size: cover;
  border: 2px solid #fafbff;
  color: #fafbff;
  display: flex;
  flex-flow: row wrap;
  height: 225px;
  justify-content: center;
  margin: 50px;
}

.zero-ready {
  align-items: center;
  background-image: url('./zeroready.gif');
  background-position: center;
  background-size: cover;
  border: 2px solid #fafbff;
  display: flex;
  height: 400px;
  justify-content: center;
  margin: 50px;
}
