@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: castaway;
  src: url('../fonts/castaway.otf');
}

$basecolor: #00b3ff;
$jumbocolor: rgba(119, 140, 212, .5);

main > .container-fluid {
  padding: 0;
  width: 100vw;
}

.about {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.about-screen {
  margin: 50px;
}

.auth-row {
  background-attachment: scroll;
  background-image: url('./xandz.jpeg');
  background-size: cover;
  background-position: top;
  display: flex;
  height: 450px;
  justify-content: center;
}

.auth-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
}

.cell {
  align-items: center;
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  font-family: castaway;
  font-size: 50px;
  height: 150px;
  justify-content: center;
  width: 150px;
}

.cell-0 {
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-1 {
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-2 {
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-3 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.cell-4 {
  border: 2px solid rgba(255, 255, 255, .5);
}

.cell-5 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-6 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

.cell-7 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.cell-8 {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
}

.game-background {
  align-items: center;
  background-image: url('./megamanvszero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 80px;
}

.game-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 446px;
  justify-content: center;
  margin: 150px;
  width: 462px;
}

.game-container {
  align-items: center;
  background-color: #191f26;
  display: flex;
  justify-content: center;
}

.game-header-row {
  align-items: center;
  background-color: #191f26;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-history {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 500px;
}

.game-history-buttons {
  height: 50px;
  margin: 5px 3px;
  padding: 2px;
}

.game-over-options {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 50px;
  padding: 2px;
}


.home-buttons {
  margin: 2px;
}

.home-options-row {
  background-attachment: scroll;
  background-image: url('./xandz.jpeg');
  background-size: cover;
  background-position: top;
  display: flex;
  height: 450px;
  justify-content: center;
}

.home-options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.home-options-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 50px;
}

.home-welcome-content {
  align-items: center;
  border: 2px solid #fafbff;
  color: #fafbff;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: center;
  margin: 50px;
}

.home-welcome-row {
  align-items: center;
  background-color: #191f26;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.jumbotron {
  background-color: $jumbocolor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar {
  background-image: url('./Bluelagoo.jpg');
  background-position: center;
  background-size: cover;
}

.show-game-board {
  align-items: center;
  background-color: #191f26;
  display: flex;
  justify-content: center;
}

.show-games-container {
  align-items: center;
  background-color: #191f26;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.sign-up-screen {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
  justify-content: center;
  margin: auto;
}

.x-and-zero {
  align-items: center;
  background-image: url('./xandzero.gif');
  background-size: cover;
  background-position: center;
  border: 2px solid #fafbff;
  color: #fafbff;
  display: flex;
  flex-flow: row wrap;
  height: 225px;
  justify-content: center;
  margin: 50px;
}
